*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{

    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
}
.form-section{
     width: 40%;
     height: 100vh;
     background-color: rgb(5, 5, 15);
     display: flex;
     align-items: center;
     justify-self: center;
     flex-direction: column;


}

.img-section{
    width: 60%;
    height: 100vh;
    background-color: rgb(85, 78, 78);
    display: flex;
    align-items: center;
    justify-content: center;

}

.img-section img{
    width: 600px;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;

}
.form-section img{
    width: 300px;
    margin-top: 25px;
    
 
}
.form label{
    color: white;
    font-size: 18px;
    margin-top: 25px;
    margin-right: 150px;
}
.form input{
    background-color: transparent;
    width: 300px;
    height: 35px;
    border: gray solid 1px;
    margin-top: 15px;


}
.form button{
     width: 300px;
     height: 38px;
     margin-top: 30px;
     font-size: 15px;
     background-color: rgb(107, 127, 200);
     color: white;
     border: none;
     border-radius: 5px;
     margin-bottom: 20px;
     

}
.form a {
    font-size: 15px; 
    color: rgb(111, 111, 192);
    margin-top: 20px;
    text-decoration: none;
}

.form p{

    color: gray;
    margin-top: 20px;
    font-size: 15px;
}
.form hr{
    color: gray;
    width: 310px;
    height: .5px;
    margin-top: 20px;
}
.form a:hover{
    border-bottom: 1px solid rgb(190, 12, 12);
}